-# Partial to include Javascript files in the HTML head.
-# origin: RM

= javascript_include_tag 'lib/underscore-min.js', 'lib/jquery-1.4.2.min.js', 'lib/jquery-ui-1.8.5.custom.min.js', 'lib/jquery.ui.datepicker-de.js', 'lib/jquery-ui-timepicker-addon.min.js', 'lib/jquery.elastic.performance.js', 'lib/jquery.poshytip.min.js', 'lib/multiple-autocomplete.js', 'lib/jrails', 'application.js', :cache => true
