-# Partial to display a warning if the browser has Javascript disabled.
-# origin: M

%noscript
  #javascript_requirement
    This application requires Javascript. Please
    = link_to 'enable Javascript', 'http://www.google.com/support/bin/answer.py?hl=en&answer=23852'
    in your browser and reload this page.
