-# Partial to include CSS stylesheet files in the HTML head.
-# origin: RM

= stylesheet_link_tag("lib/poshytip/tip-deepgray/tip-deepgray.css", 'lib/ui-lightness/jquery-ui-1.8.5.custom.css', 'lib/jquery-ui-timepicker-addon.css', :media => 'screen', :cache => 'lib')
= stylesheet_link_tag('screen', :media => 'screen')
= stylesheet_link_tag('print', :media => 'print')
